<div class="container">
  <h1 class="text-center"><b>About</b></h1>
  <h3 class="text-center">We are food delivery online marketplace.</h3>
  </br>
  <div class="row">
    <div class="col-md-3 col-sm-6">
       <h4><b>About the company</b></h4>
       Delivery boy is an online marketplace which allow customers and buisness owners to find drivers around them to get their orders delivered.
       It enables drivers to become visible in the online world. For costumers, delivery boy offers a convience place to get their order from the restraunt without worrying about the delivery.
       For Buisness owners, it offers an easy and convinent way to hire drivers whenever needed.
    </div>
    <div class="col-md-3 col-sm-6">
       <a class = "img-thumbnail img-responsive center-block">
        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAOxAAAAJDMxNmRhNDA1LTViY2YtNGMwOS04ZWMyLWRhOWQzNTMxNTI4OQ.jpg" alt="boy" style="width:250px;height:250px">
        
      </a>
      <h4>Siddharth Kodali </h4>
    </div>
    <div class="col-md-3 col-sm-6">
      
       <a class = "img-thumbnail img-responsive center-block">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/10994052_10205746302324430_4313492137980617151_n.jpg?oh=10b6799bed8b248ce45461c371e3e8b2&oe=569D7889&__gda__=1453700537_772ba5e62441947cf1bc7bbc9e110a12" style="width:250px;height:250px">
      </a>
      <h4>Balaji Thiruppathi</h4>
      
    </div>
     <div class="col-md-3 col-sm-6">
      
       <a class = "img-thumbnail img-responsive center-block">
        <img src="http://photos1.meetupstatic.com/photos/member/e/4/d/5/member_250738581.jpeg" alt="order" style="width:300px;height:250px">
      </a>
      <h4>Rishabh Singh</h4>
      
    </div>
  </div>
</div>
