<div class="container">
  <h1><b>Contact Us</b></h1>
   <div class="row">
   <div class="col-md-8 col-sm-6">
       <h4><b>We are Listening!</b></h4>
       For support with your bookings and other queries, email at bookings@deliveryboy.com.
       
        Please report any security issues with Ola at security@deliveryboy.com.
        For press/media related queries and communication please contact - media@deliveryboy.com.
        <br/>
        <h4><b>Found a Application Security Vulnerability? We may have a bounty for you !</b></h4>
We, at delivery boy, are extremely paranoid about the security of our customer's information. We always appreciate your efforts to keep our customers safe. We have taken a small step towards the same, to safeguard our customer's data and give all the deserved credits to our dedicated researchers. We would be glad to invite you to participate in our bug bounty program. Please report any security vulnerabilities in delivery boy.
       <br/>
       <h4><b>Corporate office:</b></h4>
Delivery Boy Pvt. Ltd.</br>
1100, 3rd Floor,</br>
Oakcrest Street,</br>
Iowa City, Iowa</br>
    </div>
    <div class="col-md-8 col-sm-6">
      
    </div>
    <div class="col-md-4 col-sm-6">
      
    </div>
  </div>
</div>
