<div class="container">
  <h1 class="text-center">Delivery Boy </h1>
  <h3 class="text-center">Food delivered in no time !!</h3>
  </br>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a class = "img-thumbnail img-responsive center-block">
        <img src="<%= asset_path( 'order.jpg' ) %>" alt="order" style="width:300px;height:300px">
      </a>
      <h4>Order the food from any restaurant</h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class = "img-thumbnail img-responsive center-block">
        <img src="<%= asset_path( 'boy.jpg' ) %>" alt="boy" style="width:300px;height:300px">
      </a>
      <h4>Select your "delivery boy" to deliver the food </h4>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class = "img-thumbnail img-responsive center-block">
        <img src="<%= asset_path( 'food.jpg' ) %>" alt="food" style="width:300px;height:300px">
      </a>
      <h4>Food is ready !!!!</h4>
    </div>
  </div>
</div>
